x-emailer-base: &emailer-base
  build: .
  volumes:
    - ./data:/data
    - ./creds:/creds
  environment:
    - TIMEZONE=Europe/Rome
    - PYTHONPATH=/app
  tty: true

services:
  emailer:
    <<: *emailer-base
    container_name: emailer

  emailer-liveaboard25:
    <<: *emailer-base
    container_name: emailer_liveaboard25
    command: ["send", "--campaign", "liveaboard25"]
    restart: "no"

  test:
    build: .
    container_name: emailer_test
    entrypoint: [""]        # disattiva ENTRYPOINT del Dockerfile
    command: ["pytest", "-v", "/tests"]
    working_dir: /app
    environment:
      - PYTHONPATH=/app
    volumes:
      - ./app:/app
      - ./tests:/tests
      - ./data:/data
      - ./creds:/creds
